body {
	background: url(https://1.bp.blogspot.com/-hYLcL9wDljU/X1olAJnnieI/AAAAAAAAEcA/kVmY-LhO2DALQ8kBZInaX0Pehz2Td01PgCLcBGAsYHQ/w640-h426/bk3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}